@font-face {
    font-family: "glitch";
    src: url(../assets/font/SDGlitch_Demo.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Vegabond";
    src: url(../ASSETS/font/Vegabond-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "ionx";
    src: url(../assets/font/Revoinex.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "hexa";
    src: url(../assets/font/HAKSEN.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background-image: url('../assets/wallpaperflare.com_wallpaper\ \(4\).jpg');
  background-size: cover;      
  background-position: center;  
  background-repeat: no-repeat; 
  height: 100vh;               
  width: 100vw;               
  overflow: hidden;           
}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'vegabond';
  font-size: 64px;
  color: cyan;
  text-align: center;
  font-size: 200px;
}
.button {
    margin-top: 10px;
    display: flex;
    justify-content:center;
}
.button button {
    position: absolute;
    top:75%;
    left:25%;
    width: 50%;
    padding: 12px;
    border:1px solid rgba(248, 248, 255, 0);
    border-radius: 100px;
    background: rgba(255, 230, 0, 0);
    color: #ffe600;
    font-size: 150px;
    font-weight: 600;
    cursor: pointer;
    font-family:"hexa";
    transition: background 0.3s, transform 0.2s;
}


.button button:hover {
    background: rgba(0, 255, 255, 0.651);
    transform: scale(1.03);
}
